<div class="table">
  <h2 style="text-align: center;">Timestamp-Ordered Log Table with User Activity Details</h2>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by createdAt">
        Timestamp
      </th>
      <td mat-cell *matCellDef="let element"> {{ element.createdAt | date: 'medium' }} </td>
    </ng-container>
    <ng-container matColumnDef="userID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by userID">
        User ID
      </th>
      <td mat-cell *matCellDef="let element"> {{element.userID || 'no value' }} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
        Status
      </th>
      <td mat-cell *matCellDef="let element">
        <div [ngClass]="getStatusClass(element.status)">
          {{element.status || 'no value' }}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="errorMessage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by errorMessage">
        Error Message
      </th>
      <td mat-cell *matCellDef="let element"> {{element.errorMessage}} </td>
    </ng-container>
    <ng-container matColumnDef="request">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by request">
        Request
      </th>
      <td mat-cell *matCellDef="let element"> {{element.request || 'no value' }} </td>
    </ng-container>
    <ng-container matColumnDef="response">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by response">
        Response
      </th>
      <td mat-cell *matCellDef="let element"> {{element.response || 'no value' }} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="analyticsData.totalResults" [pageSize]="10" [pageSizeOptions]="[10, 15, 20]"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>
