<div class="time-filter-container">
  <div class="time-filter">
    <mat-form-field appearance="fill">
      <mat-label>Time Filter</mat-label>
      <mat-select [(value)]="selectedTimeFilter" (selectionChange)="onTimeFilterChange()">
        <mat-option value="last24">Last 24 hours</mat-option>
        <mat-option value="last7">Last 7 days</mat-option>
        <mat-option value="custom">Custom time range</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="selectedTimeFilter === 'custom'" class="custom-date-range">
    <mat-form-field>
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date" (dateChange)="onDateChange('start', $event)">
        <input matEndDate placeholder="End date" (dateChange)="onDateChange('end', $event)">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>
</div>


<mat-card class="custom-card">
  <mat-card-content>
    <div>
      <app-analytics-chart [selectedTimeFilter]="selectedTimeFilter" [startDate]="startDate" [endDate]="endDate" ></app-analytics-chart>
    </div>
  </mat-card-content>
</mat-card>


<app-analytics-table [analyticsData]="analyticsData" (pageChangeEvent)="handlePageChange($event)"
  [dataSource]="dataSource"></app-analytics-table>
